<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
      <style>
        *{
          font-family: 'Noto Sans KR', sans-serif;
        }
      </style>
  </head>
  <body>
    <header>
      <div style=background-color:#FFAAB3>
        <h2 style=color:#F8E6E6>
          입맛춤
        </h2>
      </tr>
    </div>
    </br></br>
    <table width="400" cellspacing=0 cellpadding=0 border="0" align="center">
      <tr>
        <td style="padding:20px; line-height:200%; border:2px solid #FFAAB3;" align="center">
            감사합니다
        </br> Thank you 
        </td>
      </tr>
    </table>
</body>
</html>
